# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Lock files
package-lock.json
yarn.lock
# Ne pas ignorer pnpm-lock.yaml car il est nécessaire pour Netlify
